
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.3rem;
}.desktop-16-YJE {
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
  width: 100%;
  height: 103.5rem;
  position: relative;
  overflow: hidden;

  .rectangle-17-srJ {
    top: 7.3rem;
    background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    width: 56rem;
    height: 88.9rem;
    position: absolute;
    left: 5.7rem;
  }
  .form-y8e {
    position: absolute;
    left: 10.7rem;
    overflow: hidden;
    border: solid 0.1rem #000000;
    width: 46rem;
    height: 59rem;
    top: 28rem;
    box-sizing: border-box;
    background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
    border-radius: 2rem;
  }
  .cosva-TJi {
    line-height: 1.2102272511;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    align-items: baseline;
    width: 32.7rem;
    height: 11.7rem;
    font-size: 9.6rem;
    font-weight: 800;
    display: flex;
    position: absolute;
    left: 23.5rem;
    top: 13rem;

    .cosva-TJi-sub-0 {
      font-size: 9.6rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .cosva-TJi-sub-1 {
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 9.6rem;
      font-weight: 800;
      line-height: 1.2125;
    }
  }
  .person-digging-solid-3-EMQ {
    height: 8.8156rem;
    position: absolute;
    left: 11.4998rem;
    top: 13.4844rem;
    object-fit: contain;
    vertical-align: top;
    width: 10.4994rem;
  }
  .check-solid-1-wWi {
    width: 15rem;
    height: 20rem;
    position: absolute;
    left: 12.8rem;
    top: 61.8rem;
    overflow: hidden;
  }
  .circle-solid-1-fBp {
    height: 20.2148rem;
    position: absolute;
    left: 25.7rem;
    top: 46.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 18.6427rem;
  }
  .circle-regular-1-CSe {
    object-fit: contain;
    vertical-align: top;
    width: 12.5rem;
    height: 12.5rem;
    position: absolute;
    left: 28.7rem;
    top: 50.8rem;
  }
  .te-has-registrado-con-xito-8bC {
    height: 8.8rem;
    position: absolute;
    text-align: center;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 31.9rem;
    left: 19rem;
    top: 35.2rem;
    font-size: 3.6rem;
    font-weight: 800;
  }
  .button-RqC {
    font-size: 1.8rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Mulish, 'Source Sans Pro';
    height: 5rem;
    cursor: pointer;
    left: 23rem;
    align-items: center;
    background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
    border-radius: 0.6rem;
    width: 23rem;
    top: 74.9rem;
    line-height: 1.255;
    position: absolute;
    display: flex;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
  }
}
