
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-8-khg {
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-top: 1.6rem;

  .desktop-3-Trz {
    width: 100%;
    height: 102.4rem;
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) -0%, #9fa5b0 100%);

    .rectangle-9-nPU {
      width: 130rem;
      height: 94rem;
      position: absolute;
      left: 7rem;
      top: 4.2rem;
      background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    }
    .rectangle-1-Hr2 {
      width: 130rem;
      height: 94rem;
      position: absolute;
      left: 7rem;
      top: 4.2rem;
      background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    }
    .rectangle-10-Qfk {
      left: 7rem;
      top: 4.2rem;
      background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
      width: 130rem;
      height: 94rem;
      position: absolute;
    }
    .rectangle-2-8re {
      top: 22.3rem;
      box-sizing: border-box;
      width: 130rem;
      height: 12.4rem;
      position: absolute;
      left: 7rem;
    }
    .pendientes-VKp {
      height: 3rem;
      top: 27rem;
      font-weight: 300;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      width: 12.6rem;
      position: absolute;
      left: 86.3rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
    .solicitudes-PRC {
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      left: 26rem;
      height: 3rem;
      position: absolute;
      top: 27rem;
      font-size: 2.4rem;
      font-weight: 300;
      white-space: nowrap;
      width: 12.3rem;
    }
    .rechazadas-3Er {
      font-weight: 300;
      color: #ffffff;
      height: 3rem;
      position: absolute;
      top: 27.2rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 13.7rem;
      left: 54.4rem;
    }
    .navlink-vZY {
      height: 4.9rem;
      color: #ffffff;
      width: 10.9rem;
      position: absolute;
      top: 26.2rem;
      white-space: nowrap;
      display: flex;
      font-size: 2.4rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      left: 114.3rem;
      font-weight: 300;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-1-DYe {
      box-sizing: border-box;
      top: 6rem;
      display: flex;
      align-items: center;
      padding: 1.4rem 0rem 1.4rem 8.5rem;
      width: 51.1rem;
      height: 14.6rem;
      position: absolute;
      left: 44.7rem;

      .person-digging-solid-1-7tv {
        margin-right: 0.9234rem;
        width: 8.9766rem;
        height: 11.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .cosva-qpv {
        font-size: 9.6rem;
        font-weight: 800;
        line-height: 1.2102272511;
        display: flex;
        flex-shrink: 0;
        margin-top: 0.1rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;

        .cosva-qpv-sub-0 {
          font-size: 9.6rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .cosva-qpv-sub-1 {
          font-size: 9.6rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .solicitudes-nn6 {
      white-space: nowrap;
      align-items: baseline;
      left: 58.7rem;
      top: 36.5rem;
      font-weight: 300;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      width: 26.6rem;
      height: 4.9rem;
      position: absolute;
      font-size: 4rem;
      line-height: 1.2102272034;

      .solicitudes-nn6-sub-0 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 300;
      }
      .solicitudes-nn6-sub-1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 800;
      }
    }
    .rectangle-11-PQW {
      width: 120.8rem;
      height: 48.4rem;
      position: absolute;
      left: 11.6rem;
      top: 43.9rem;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      border-radius: 5.2rem;
    }
    .rectangle-12-R6J {
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      border-radius: 5.2rem;
      width: 120.8rem;
      height: 48.4rem;
      position: absolute;
      left: 11.6rem;
      top: 43.9rem;
    }
    .from-miguelgmailcom-i5Q {
      height: 1.5rem;
      left: 17rem;
      font-size: 1.2rem;
      font-weight: 800;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.2rem;
      position: absolute;
      top: 56.6rem;
      line-height: 1.2125;
      color: #000000;
    }
    .from-miguelgmailcom-but {
      height: 1.5rem;
      left: 17rem;
      top: 69.7rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.2rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 800;
    }
    .from-miguelgmailcom-Kaz {
      height: 1.5rem;
      position: absolute;
      top: 83rem;
      font-family: Inter, 'Source Sans Pro';
      width: 15.2rem;
      font-size: 1.2rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      left: 16.9rem;
    }
    .line-1-pne {
      position: absolute;
      left: 10.8rem;
      top: 55.4rem;
      background-color: #000000;
      width: 120.4rem;
      height: 0.3rem;
    }
    .line-2-MGn {
      width: 120.4rem;
      height: 0.3rem;
      position: absolute;
      left: 11rem;
      top: 68.1rem;
      background-color: #000000;
    }
    .line-4-tXc {
      width: 120.4rem;
      height: 0.3rem;
      position: absolute;
      left: 11rem;
      top: 81.2rem;
      background-color: #000000;
    }
    .from-miguelgmailcom-qBx {
      height: 1.5rem;
      position: absolute;
      font-weight: 800;
      color: #000000;
      white-space: nowrap;
      font-family: Inter, 'Source Sans Pro';
      width: 15.2rem;
      left: 17rem;
      top: 45.9rem;
      font-size: 1.2rem;
      line-height: 1.2125;
    }
    .asunto-solicitud-de-maquinaria-pesada-8gr {
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 24rem;
      height: 1.5rem;
      position: absolute;
      top: 49.1rem;
      font-size: 1.2rem;
      left: 15.1rem;
      font-weight: 800;
      color: #000000;
      white-space: nowrap;
    }
    .asunto-solicitud-de-maquinaria-pesada-Rvr {
      font-weight: 800;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 24rem;
      position: absolute;
      top: 59.4rem;
      font-size: 1.2rem;
      white-space: nowrap;
      height: 1.5rem;
      left: 15.1rem;
    }
    .asunto-solicitud-de-maquinaria-pesada-KFY {
      font-size: 1.2rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 15.5rem;
      top: 72.4rem;
      position: absolute;
      font-weight: 800;
      line-height: 1.2125;
      color: #000000;
      width: 24rem;
      height: 1.5rem;
    }
    .asunto-solicitud-de-maquinaria-pesada-pi6 {
      width: 24rem;
      font-weight: 800;
      line-height: 1.2125;
      white-space: nowrap;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 1.5rem;
      position: absolute;
      left: 15.4rem;
      top: 86.2rem;
      font-size: 1.2rem;
    }
    .item--8yg {
      font-size: 1.2rem;
      font-weight: 800;
      left: 15.9rem;
      top: 51.2rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 111.5rem;
      height: 3rem;
      position: absolute;
    }
    .item--3DU {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 111.5rem;
      position: absolute;
      font-size: 1.2rem;
      font-weight: 800;
      height: 3rem;
      left: 15.4rem;
      top: 62.8rem;
    }
    .item--iD8 {
      width: 111.5rem;
      height: 3rem;
      font-size: 1.2rem;
      position: absolute;
      left: 15.9rem;
      top: 75.8rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .item--Ngz {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 111.5rem;
      position: absolute;
      left: 15.5rem;
      top: 88.7rem;
      font-size: 1.2rem;
      font-weight: 800;
      height: 3rem;
      line-height: 1.2125;
    }
    .rectangle-17-UtS {
      border-radius: 1rem;
      width: 9.5rem;
      height: 2.9rem;
      cursor: pointer;
      position: absolute;
      left: 114.9rem;
      top: 46.2rem;
      background-color: #ff6079;
    }
    .rectangle-18-Qn6 {
      background-color: #ff6079;
      border-radius: 1rem;
      width: 9.5rem;
      height: 2.9rem;
      cursor: pointer;
      position: absolute;
      left: 115rem;
      top: 71.1rem;
    }
    .rectangle-20-YNW {
      top: 84.4rem;
      background-color: #ff6079;
      border-radius: 1rem;
      width: 9.5rem;
      height: 2.9rem;
      cursor: pointer;
      position: absolute;
      left: 115rem;
    }
    .rectangle-19-HL6 {
      left: 115rem;
      top: 58rem;
      background-color: #ff6079;
      border-radius: 1rem;
      width: 9.5rem;
      height: 2.9rem;
      cursor: pointer;
      position: absolute;
    }
    .visualizar-pqp {
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.255;
      color: #ffffff;
      position: absolute;
      left: 116.6rem;
      top: 47rem;
      display: flex;
      white-space: nowrap;
      width: 6.1rem;
      height: 1.3rem;
      font-family: Mulish, 'Source Sans Pro';
    }
    .visualizar-iAW {
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.3rem;
      position: absolute;
      top: 59rem;
      line-height: 1.255;
      font-weight: 700;
      color: #ffffff;
      width: 6.1rem;
      left: 116.6rem;
      display: flex;
      font-size: 1rem;
    }
    .visualizar-aiW {
      white-space: nowrap;
      height: 1.3rem;
      position: absolute;
      left: 116.6rem;
      top: 71.9rem;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.255;
      width: 6.1rem;
      display: flex;
      color: #ffffff;
      font-family: Mulish, 'Source Sans Pro';
    }
    .visualizar-hYE {
      height: 1.3rem;
      position: absolute;
      top: 85.1rem;
      display: flex;
      font-weight: 700;
      font-family: Mulish, 'Source Sans Pro';
      width: 6.1rem;
      font-size: 1rem;
      line-height: 1.255;
      color: #ffffff;
      white-space: nowrap;
      left: 116.6rem;
    }
  }
}
