
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-6-HVc {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);

  .rectangle-16-h3Y {
    top: 4.2rem;
    background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    width: 130rem;
    height: 94rem;
    position: absolute;
    left: 7rem;
  }
  .iniciar-sesion-a9G {
    line-height: 1.255;
    font-family: Mulish, 'Source Sans Pro';
    width: 23.7rem;
    position: absolute;
    left: 62.9rem;
    top: 31.55rem;
    display: flex;
    height: 4.1rem;
    font-size: 3.2rem;
    font-weight: 300;
    color: #ffffff;
    white-space: nowrap;
  }
  .group-7-Dxv {
    width: 118.6rem;
    height: 41.1rem;
    position: absolute;
    left: 12.6rem;
    top: 41.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);

    .form-9Ln {
      width: 100%;
      height: 100%;
      position: relative;
      align-items: center;
      flex-direction: column;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      box-sizing: border-box;
      overflow: hidden;
      display: flex;
      border-radius: 2rem;
      padding: 21rem 31.5rem 2.678rem 36.5rem;

      .auto-group-omd4-YNv {
        margin-bottom: 3.7rem;
        width: 100%;
        height: 7.3rem;
        flex-shrink: 0;

        .input-2-EWe {
          height: 7rem;
          border: solid 0.1rem #000000;
          box-sizing: border-box;
          background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
          border-radius: 0.6rem;
          width: 100%;
        }
      }
      .button-K2J {
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
        flex-shrink: 0;
        height: 6.4219rem;
        overflow: hidden;
        font-family: Mulish, 'Source Sans Pro';
        justify-content: center;
        border-radius: 0.6rem;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 700;
        white-space: nowrap;
        margin: 0rem 13.04rem 0rem 13rem;
        width: calc(100% - 26.04rem);
        position: relative;
        line-height: 1.255;
        color: #ffffff;
      }
    }
  }
  .group-3-zXk {
    top: 13.3rem;
    width: 130rem;
    height: 12.4rem;
    position: absolute;
    left: 7.1rem;

    .navlink-gQa {
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      height: 6.1rem;
      top: 3.1rem;
      position: absolute;
      font-size: 2.4rem;
      width: 14.5rem;
      cursor: pointer;
      align-items: center;
      font-weight: 300;
      line-height: 1.2125;
      display: flex;
      left: 60.4rem;
      font-family: Inter, 'Source Sans Pro';
    }
    .group-27-xst {
      width: 130rem;
      height: 12.4rem;
      position: absolute;
      left: 0;
      top: 0;

      .equipos-hKg {
        width: 8.9rem;
        height: 3rem;
        left: 102.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        position: absolute;
        top: 4.5rem;
        font-size: 2.4rem;
        font-weight: 300;
        color: #ffffff;
      }
      .rectangle-2-1LN {
        box-sizing: border-box;
        width: 130rem;
        height: 12.4rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .navlink-8Qz {
        width: 11rem;
        cursor: pointer;
        white-space: nowrap;
        height: 6.1rem;
        left: 12.8rem;
        top: 2.9rem;
        color: #ffffff;
        display: flex;
        align-items: center;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        justify-content: center;
      }
      .navlink-pHp {
        font-weight: 300;
        color: #ffffff;
        white-space: nowrap;
        align-items: center;
        left: 60.4rem;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        height: 6.1rem;
        cursor: pointer;
        position: absolute;
        top: 3.1rem;
        font-size: 2.4rem;
        width: 14.5rem;
        line-height: 1.2125;
      }
    }
  }
  .group-26-4T4 {
    width: 62.3rem;
    height: 5.8rem;
    position: absolute;
    left: 45.5rem;
    top: 5.7rem;

    .bienvenido-administrador-NyY {
      height: 4.9rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 62.3rem;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 4rem;
      font-weight: 300;
      color: #ffffff;
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .bienvenido-administrador-NyY-sub-0 {
      }
      .bienvenido-administrador-NyY-sub-1 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 800;
      }
    }
    .rectangle-9-TvS {
      width: 41.3rem;
      height: 1rem;
      position: absolute;
      left: 10.5rem;
      top: 4.8rem;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
    }
  }
}
