
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.5rem;
}.desktop-25-Cgr {
  width: 100%;
  height: 103.5rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);

  .rectangle-17-kCa {
    top: 7.3rem;
    background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    width: 56rem;
    height: 88.9rem;
    position: absolute;
    left: 5.7rem;
  }
  .form-e34 {
    top: 28rem;
    overflow: hidden;
    box-sizing: border-box;
    background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
    border-radius: 2rem;
    position: absolute;
    left: 10.7rem;
    border: solid 0.1rem #000000;
    width: 46rem;
    height: 59rem;
  }
  .person-digging-solid-3-jaJ {
    vertical-align: top;
    width: 10.4994rem;
    height: 8.8156rem;
    position: absolute;
    left: 11.4997rem;
    top: 13.4844rem;
    object-fit: contain;
  }
  .cosva-TWJ {
    left: 23.5rem;
    font-size: 9.6rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 32.7rem;
    height: 11.7rem;
    font-weight: 800;
    line-height: 1.2102272511;
    color: #ffffff;
    display: flex;
    align-items: baseline;
    position: absolute;
    top: 13rem;

    .cosva-TWJ-sub-0 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 9.6rem;
      font-weight: 300;
      line-height: 1.2125;
      color: #ffffff;
    }
    .cosva-TWJ-sub-1 {
      font-size: 9.6rem;
      font-weight: 800;
      line-height: 1.2125;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .tu-mensaje-a-sido-enviado-con-xito-PRt {
    font-weight: 800;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 32.7rem;
    position: absolute;
    left: 17.1rem;
    top: 34.6rem;
    font-size: 3.6rem;
    height: 8.8rem;
    color: #000000;
  }
  .mensaje-1-Uy8 {
    width: 15rem;
    height: 15rem;
    position: absolute;
    left: 26.3rem;
    top: 47.1rem;
    object-fit: contain;
    vertical-align: top;
  }
  .button-RNa {
    height: 5rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.8rem;
    align-items: center;
    background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
    top: 71.5rem;
    overflow: hidden;
    display: flex;
    font-weight: 700;
    width: 23rem;
    left: 22.3rem;
    white-space: nowrap;
    border-radius: 0.6rem;
    line-height: 1.255;
    color: #ffffff;
    font-family: Mulish, 'Source Sans Pro';
    justify-content: center;
  }
}
