
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 72.1rem;
}.desktop-14-1DC {
  padding: 2.5rem 1.9rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;

  .group-12-8oc {
    row-gap: 5.3rem;
    background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    box-sizing: border-box;
    padding: 1.4rem 1.1rem 2.8rem 3.7rem;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;

    .auto-group-darq-39t {
      margin-left: 14.7rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .person-digging-solid-2-PDk {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.8rem;
        width: 8.1rem;
        height: 8.8rem;
        object-fit: contain;
      }
      .cosva-iWv {
        font-size: 7rem;
        font-family: Inter, 'Source Sans Pro';
        align-items: baseline;
        flex-shrink: 0;
        margin: 0.9rem 11.7rem 0rem 0rem;
        font-weight: 800;
        line-height: 1.2102272034;
        color: #ffffff;
        white-space: nowrap;
        display: flex;

        .cosva-iWv-sub-0 {
          font-size: 7rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .cosva-iWv-sub-1 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 7rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
        }
      }
      .group-15-rux {
        width: 3.3rem;
        height: 3.8rem;
        cursor: pointer;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .button-1Xx {
          font-weight: 700;
          color: #ffffff;
          white-space: nowrap;
          border-radius: 0.6rem;
          font-family: Mulish, 'Source Sans Pro';
          background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
          position: relative;
          display: flex;
          width: 100%;
          height: 100%;
          overflow: hidden;
          font-size: 1.8rem;
          line-height: 1.255;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .modificar-datos-FBQ {
      margin-right: 2.6rem;
      font-size: 3.5rem;
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-qubc-B54 {
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 0rem 8rem 3.8rem 7.9rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-right: 2.5rem;
      width: 61rem;
      background-color: #d9d9d9;
      flex-shrink: 0;

      .perfil-del-usuario-1-HNz {
        height: 20.8rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0rem 2.2rem 0.1rem;
        width: 17.6rem;
      }
      .nombre-miguel-apellido-paterno-monreal-apellido-materno-perez-correo-electrnico-1234gmaicom-contrasea-direccin-de-las-aves-ampliacin-santa-julia-cp-4230-yFp {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        max-width: 45.1rem;
        font-size: 2rem;
        font-weight: 800;
        flex-shrink: 0;
        margin-bottom: 4.1rem;
        text-align: center;
        color: #000000;
      }
      .button-CeN {
        color: #ffffff;
        height: 6.4rem;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.255;
        font-family: Mulish, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 0.6rem;
        display: flex;
        overflow: hidden;
        position: relative;
        justify-content: center;
        background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
        width: calc(100% - 15.7rem);
        cursor: pointer;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 7.8rem 0rem 7.9rem;
      }
    }
  }
}
