
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-4-XNr {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) -0%, #9fa5b0 100%);
  width: 100%;
  height: 102.4rem;

  .rectangle-15-eiN {
    top: 4.2rem;
    background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    width: 130rem;
    height: 94rem;
    position: absolute;
    left: 7rem;
  }
  .button-87k {
    height: 5rem;
    color: #ffffff;
    width: 23rem;
    left: 60.5rem;
    justify-content: center;
    cursor: pointer;
    top: 89rem;
    line-height: 1.255;
    white-space: nowrap;
    align-items: center;
    background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
    position: absolute;
    overflow: hidden;
    display: flex;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Mulish, 'Source Sans Pro';
    border-radius: 0.6rem;
  }
  .group-24-jdL {
    width: 118.7rem;
    height: 25rem;
    position: absolute;
    left: 12.6rem;
    top: 35.3rem;

    .form-pen {
      overflow: hidden;
      border: solid 0.1rem #000000;
      width: 118.7rem;
      height: 25rem;
      left: 0;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      border-radius: 2rem;
      position: absolute;
      top: 0;
      box-sizing: border-box;
    }
    .input-1-JK4 {
      width: 43.9rem;
      height: 4.9rem;
      top: 5rem;
      border: solid 0.1rem #000000;
      border-radius: 0.6rem;
      position: absolute;
      left: 7.2rem;
      box-sizing: border-box;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
    }
    .input-7-ZEz {
      border: solid 0.1rem #000000;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      width: 43.9rem;
      position: absolute;
      left: 66.7rem;
      border-radius: 0.6rem;
      height: 4.9rem;
      top: 5rem;
      box-sizing: border-box;
    }
    .input-6-QmQ {
      width: 43.9rem;
      height: 4.9rem;
      border: solid 0.1rem #000000;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      position: absolute;
      left: 7.2rem;
      top: 15.9rem;
      box-sizing: border-box;
      border-radius: 0.6rem;
    }
    .nombre-Goc {
      color: #090909;
      white-space: nowrap;
      width: 6.6rem;
      height: 2.3rem;
      position: absolute;
      display: flex;
      font-size: 1.8rem;
      left: 24rem;
      top: 1.6rem;
      font-weight: 300;
      line-height: 1.255;
      font-family: Mulish, 'Source Sans Pro';
    }
    .email-yxv {
      width: 4.6rem;
      height: 2.3rem;
      display: flex;
      line-height: 1.255;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 25rem;
      top: 12.5rem;
      font-size: 1.8rem;
      font-weight: 300;
      color: #090909;
    }
    .apellido-epA {
      left: 85.3rem;
      font-weight: 300;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
      height: 2.3rem;
      position: absolute;
      top: 1.5rem;
      display: flex;
      font-size: 1.8rem;
      line-height: 1.255;
      color: #090909;
      width: 6.7rem;
    }
  }
  .group-25-Lwt {
    width: 118.7rem;
    height: 15.6rem;
    position: absolute;
    left: 12.6rem;
    top: 68.8rem;

    .form-4st {
      height: 15.6rem;
      position: absolute;
      top: 0;
      box-sizing: border-box;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      border-radius: 2rem;
      width: 118.7rem;
      left: 0;
      overflow: hidden;
      border: solid 0.1rem #000000;
    }
    .input-9-XFg {
      width: 40rem;
      left: 70.6rem;
      top: 7.2rem;
      height: 4.9rem;
      position: absolute;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      border-radius: 0.6rem;
    }
    .input-8-DPQ {
      position: absolute;
      border: solid 0.1rem #000000;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
      border-radius: 0.6rem;
      width: 43.2rem;
      height: 4.9rem;
      left: 7.9rem;
      top: 7.2rem;
      box-sizing: border-box;
    }
    .confirmar-la-contrasea-7za {
      height: 2.3rem;
      position: absolute;
      font-weight: 300;
      line-height: 1.255;
      white-space: nowrap;
      width: 19.7rem;
      left: 80.7rem;
      top: 3.2rem;
      display: flex;
      font-size: 1.8rem;
      color: #090909;
      font-family: Mulish, 'Source Sans Pro';
    }
    .contrasea-RVU {
      height: 2.3rem;
      left: 24.4rem;
      display: flex;
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 1.255;
      width: 9.5rem;
      position: absolute;
      top: 3.2rem;
      color: #090909;
      font-family: Mulish, 'Source Sans Pro';
      white-space: nowrap;
    }
  }
  .equipos-uvS {
    width: 8.9rem;
    position: absolute;
    font-weight: 300;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 3rem;
    left: 109.5rem;
    top: 17.8rem;
    font-size: 2.4rem;
    line-height: 1.2125;
  }
  .datos-personales-mBx {
    width: 32.2rem;
    height: 4.1rem;
    top: 29.15rem;
    display: flex;
    line-height: 1.255;
    color: #ffffff;
    position: absolute;
    left: 12.6rem;
    font-size: 3.2rem;
    font-weight: 300;
    font-family: Mulish, 'Source Sans Pro';
    white-space: nowrap;
  }
  .contrasea-3QN {
    width: 21.9rem;
    display: flex;
    font-size: 3.2rem;
    line-height: 1.255;
    color: #ffffff;
    font-family: Mulish, 'Source Sans Pro';
    white-space: nowrap;
    height: 4.1rem;
    position: absolute;
    left: 12.6rem;
    top: 62.55rem;
    font-weight: 300;
  }
  .group-3-kJn {
    height: 12.4rem;
    left: 7rem;
    align-items: center;
    box-sizing: border-box;
    padding: 2.9rem 56.8rem 3.2rem 12.8rem;
    top: 13.1rem;
    display: flex;
    width: 130rem;
    position: absolute;

    .navlink-r6v {
      height: 6.1rem;
      justify-content: center;
      flex-shrink: 0;
      color: #ffffff;
      width: 11rem;
      font-weight: 300;
      line-height: 1.2125;
      align-items: center;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      display: flex;
      margin: 0rem 34.9rem 0.2rem 0rem;
      cursor: pointer;
      white-space: nowrap;
    }
    .navlink-iev {
      width: 14.5rem;
      font-weight: 300;
      font-family: Inter, 'Source Sans Pro';
      justify-content: center;
      cursor: pointer;
      align-items: center;
      font-size: 2.4rem;
      color: #ffffff;
      display: flex;
      flex-shrink: 0;
      margin-top: 0.2rem;
      height: 6.1rem;
      line-height: 1.2125;
      white-space: nowrap;
    }
  }
  .group-23-Dbg {
    width: 27.2rem;
    height: 5.8rem;
    position: absolute;
    left: 58.9rem;
    top: 6.4rem;

    .rectangle-8-Mht {
      width: 18.5rem;
      height: 1rem;
      position: absolute;
      left: 3.8rem;
      top: 4.8rem;
      background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
    }
    .registrate-pbU {
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 27.2rem;
      left: 0;
      top: 0;
      line-height: 1.2125;
      display: flex;
      align-items: baseline;
      height: 4.9rem;
      position: absolute;
      font-size: 4rem;
      font-weight: 800;

      .registrate-pbU-sub-0 {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        font-size: 4rem;
        font-weight: 300;
      }
      .registrate-pbU-sub-1 {
      }
    }
  }
}
