
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 72.1rem;
}.desktop-22-WcS {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 2.5rem 1.9rem;
  width: 100%;
  height: 102.4rem;

  .group-12-rAW {
    background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
    padding: 1.4rem 1.1rem 2.8rem 3.7rem;
    height: 100%;
    row-gap: 5.3rem;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    display: flex;

    .auto-group-zatl-xjL {
      margin-left: 14.7rem;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .person-digging-solid-2-KJz {
        width: 8.1rem;
        height: 8.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.8rem;
      }
      .cosva-FiS {
        font-size: 7rem;
        color: #ffffff;
        display: flex;
        align-items: baseline;
        flex-shrink: 0;
        margin: 0.9rem 11.7rem 0rem 0rem;
        font-weight: 800;
        line-height: 1.2102272034;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;

        .cosva-FiS-sub-0 {
          font-weight: 300;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          font-size: 7rem;
        }
        .cosva-FiS-sub-1 {
          font-size: 7rem;
          font-weight: 800;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .group-15-pYa {
        width: 3.3rem;
        height: 3.8rem;
        cursor: pointer;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .button-yAa {
          border-radius: 0.6rem;
          width: 100%;
          font-weight: 700;
          line-height: 1.255;
          font-family: Mulish, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          position: relative;
          font-size: 1.8rem;
          color: #ffffff;
          justify-content: center;
          background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
          overflow: hidden;
          align-items: center;
          height: 100%;
        }
      }
    }
    .buscar-sucursal-RHU {
      margin-right: 0.6rem;
      font-size: 3.5rem;
      font-weight: 800;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .auto-group-7s6r-9zA {
      margin-right: 2.5rem;
      align-items: center;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.4rem 8rem 5.9rem 8rem;
      width: 61rem;
      flex-direction: column;
      background-color: #d9d9d9;
      border-radius: 2rem;

      .mapa-1-1-Tzr {
        margin-bottom: 6rem;
        width: 17.2rem;
        height: 17.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
      }
      .ingresa-tu-codigo-postal-b5U {
        font-size: 3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 5rem;
        text-align: center;
        color: #000000;
        font-weight: 800;
        line-height: 1.2125;
      }
      .input-1-ubx {
        border: solid 0.1rem #000000;
        box-sizing: border-box;
        background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
        border-radius: 0.6rem;
        flex-shrink: 0;
        margin-bottom: 3rem;
        width: 100%;
        height: 7rem;
      }
      .mundo-1-d2A {
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 5.8rem;
        width: 6.4rem;
        height: 6.3rem;
      }
      .button-ZAi {
        border-radius: 0.6rem;
        font-family: Mulish, 'Source Sans Pro';
        font-weight: 700;
        line-height: 1.255;
        color: #ffffff;
        height: 6.4rem;
        overflow: hidden;
        font-size: 1.8rem;
        align-items: center;
        background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
        width: calc(100% - 15.6rem);
        position: relative;
        display: flex;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        margin: 0 7.8rem;
      }
    }
  }
}
