
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 67.5rem;
}.desktop-25-Cgr {
  width: 100%;
  height: 103.5rem;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
}
.desktop-25-Cgr .rectangle-17-kCa {
  width: 56rem;
  height: 88.9rem;
  position: absolute;
  left: 5.7rem;
  top: 7.3rem;
  background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
}
.desktop-25-Cgr .form-e34 {
  width: 46rem;
  height: 59rem;
  position: absolute;
  left: 10.7rem;
  top: 28rem;
  overflow: hidden;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
  border-radius: 2rem;
}
.desktop-25-Cgr .person-digging-solid-3-jaJ {
  width: 10.4994rem;
  height: 8.8156rem;
  position: absolute;
  left: 11.4997rem;
  top: 13.4844rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-25-Cgr .cosva-TWJ {
  width: 32.7rem;
  height: 11.7rem;
  position: absolute;
  left: 23.5rem;
  top: 13rem;
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2102272511;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-25-Cgr .cosva-TWJ .cosva-TWJ-sub-0 {
  font-size: 9.6rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-25-Cgr .cosva-TWJ .cosva-TWJ-sub-1 {
  font-size: 9.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-25-Cgr .tu-mensaje-a-sido-enviado-con-xito-PRt {
  width: 32.7rem;
  height: 8.8rem;
  position: absolute;
  left: 17.1rem;
  top: 34.6rem;
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-25-Cgr .mensaje-1-Uy8 {
  width: 15rem;
  height: 15rem;
  position: absolute;
  left: 26.3rem;
  top: 47.1rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-25-Cgr .button-RNa {
  width: 23rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 22.3rem;
  top: 71.5rem;
  overflow: hidden;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
  border-radius: 0.6rem;
}
