
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 73.5rem;
}.desktop-10-zjC {
  width: 100%;
  height: 103.3rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.9200000167) -0%, #9fa5b0 100%);
  background-color: #ffffff;
}
.desktop-10-zjC .group-12-kCa {
  width: 71.4rem;
  height: 102.2rem;
  position: relative;
}
.desktop-10-zjC .group-12-kCa .rectangle-21-6XL {
  width: 56.9rem;
  height: 102.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
}
.desktop-10-zjC .group-12-kCa .group-11-RpW {
  width: 68.3rem;
  height: 97.4rem;
  position: absolute;
  left: 3.1rem;
  top: 3.2rem;
  background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
}
.desktop-10-zjC .group-12-kCa .group-11-RpW .group-1-Zvi {
  box-sizing: border-box;
  padding: 1.4rem 0rem 1.4rem 8.5rem;
  width: 40.6rem;
  height: 18.2rem;
  position: absolute;
  left: 12.3rem;
  top: 0.9rem;
  display: flex;
  align-items: flex-start;
}
.desktop-10-zjC .group-12-kCa .group-11-RpW .group-1-Zvi .person-digging-solid-1-EGA {
  margin-right: 0.1rem;
  width: 8.1rem;
  height: 8.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-11-RpW .group-1-Zvi .cosva-ZZL {
  margin-top: 0.3rem;
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-11-RpW .group-1-Zvi .cosva-ZZL .cosva-ZZL-sub-0 {
  font-size: 7rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #F7CE90;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-10-zjC .group-12-kCa .group-11-RpW .group-1-Zvi .cosva-ZZL .cosva-ZZL-sub-1 {
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #F7CE90;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-10-zjC .group-12-kCa .group-11-RpW .datos-usuario-76z {
  width: 29.1rem;
  height: 4.3rem;
  position: absolute;
  left: 22.3rem;
  top: 15.7rem;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 {
  width: 71.4rem;
  height: 102.2rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .rectangle-21-i6n {
  width: 56.9rem;
  height: 102.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU {
  box-sizing: border-box;
  padding: 0.9rem 1.1rem 3.4rem 3.9rem;
  width: 68.3rem;
  height: 97.4rem;
  position: absolute;
  left: 3.1rem;
  top: 3.2rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #1a1b1f -0%, #142960 100%);
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC {
  margin: 0rem 0rem 5.1rem 8.4rem;
  width: calc(100% - 8.4rem);
  height: 19.1rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ {
  margin-right: 11rem;
  width: 40.6rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ .group-1-a4S {
  box-sizing: border-box;
  padding: 1.4rem 0rem 1.4rem 8.5rem;
  width: 40.6rem;
  height: 18.2rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: flex-start;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ .group-1-a4S .person-digging-solid-1-fLn {
  margin-right: 0.1rem;
  width: 8.1rem;
  height: 8.8rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ .group-1-a4S .cosva-ycN {
  margin-top: 0.3rem;
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ .group-1-a4S .cosva-ycN .cosva-ycN-sub-0 {
  font-size: 7rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ .group-1-a4S .cosva-ycN .cosva-ycN-sub-1 {
  font-size: 7rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .auto-group-yozr-rcJ .datos-usuario-mAr {
  color: #ffffff  ;
  width: 29.1rem;
  height: 4.3rem;
  position: absolute;
  left: 10rem;
  top: 14.8rem;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .group-15-GdQ {
  width: 3.3rem;
  height: 3.8rem;
  cursor: pointer;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-eslw-8wC .group-15-GdQ .button-pev {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
  border-radius: 0.6rem;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-nhas-hTp {
  margin-right: 2.3rem;
  box-sizing: border-box;
  padding: 0.4rem 8.2rem 4rem 7.7rem;
  width: 61rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #d9d9d9;
  border-radius: 2rem;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-nhas-hTp .perfil-del-usuario-1-bp6 {
  margin: 0rem 0rem 2.2rem 1.9rem;
  width: 17.6rem;
  height: 20.8rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-nhas-hTp .nombre-miguel-apellido-paterno-monreal-apellido-materno-perez-correo-electrnico-1234gmaicom-contrasea-direccin-de-las-aves-ampliacin-santa-julia-cp-4230-i82 {
  margin-bottom: 3.5rem;
  max-width: 45.1rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-nhas-hTp .button-WJn {
  margin: 0rem 6.5rem 0rem 9.2rem;
  width: calc(100% - 15.7rem);
  height: 6.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-nhas-hTp .button-WJn .modificar-RwY {
  width: 10.3rem;
  height: 2.3rem;
  position: absolute;
  left: 9.5rem;
  top: 2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-10-zjC .group-12-kCa .group-13-nU2 .group-11-SoU .auto-group-nhas-hTp .button-WJn .button-Loc {
  width: 29.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
  border-radius: 0.6rem;
}
