
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 32.4rem;
}.ver-mas-3-b1U {
  box-sizing: border-box;
  padding: 2rem 2rem 1.2rem 2rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.ver-mas-3-b1U .property-1default-uXx {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  display: flex;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.255;
  color: #ffffff;
  font-family: Mulish, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ff6079 -0%, #fe3051 100%);
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.ver-mas-3-b1U .property-1variant2-jG6 {
  box-sizing: border-box;
  padding: 0.4rem 2.45rem 0.4rem 2.35rem;
  width: 100%;
  height: 15.9rem;
  overflow: hidden;
  position: relative;
  background: linear-gradient(180deg, #ffffff -0%, #9fa5b0 100%);
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.ver-mas-3-b1U .property-1variant2-jG6 .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn {
  max-width: 23.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.ver-mas-3-b1U .property-1variant2-jG6 .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn-sub-0 {
}
.ver-mas-3-b1U .property-1variant2-jG6 .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn-sub-1 {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.255;
  color: #000000;
  font-family: Mulish, 'Source Sans Pro';
}
.ver-mas-3-b1U .property-1variant2-jG6 .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn .aplicaciones-compactar-suelos-asfalto-y-otros-materiales-en-obras-de-construccin-carreteras-y-proyectos-de-pavimentacin-3Gn-sub-2 {
}
